* {
    background:     #0f0f0f;
    background-alt: #1A1B26FF;
    foreground:     #edecee;
    unselected : #a277ff;
    selected:       #61ffca;
    active:         #b9b5beFF;
    urgent:         #F7768EFF;
}
