* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono NFP";
  font-weight: 600;
}

window#waybar {
  border-bottom: 0px solid #61afef;
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left {
  margin: 0px 12px;
  margin-top: 8px;
}

#custom-arch {
  font-size: 18px;
  border: 1px solid #b9b5be;
  background-color: #151515;
  color: #b9b5be;
  padding: 0px 12px;
  margin: 0px 4px 0px 0px;
  border-radius: 12px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  transition: none;
  border: 1px solid #b9b5be;
  background-color: #151515;
  color: #b9b5be;
  border-radius: 100px;
  padding: 0px 18px;
  margin: 0px 0px 0px 8px;
  font-size: 14px;
}
#workspaces button.active {
  background-color: #151515;
  border: 1px solid #b9b5be;
  color: #b9b5be;
  font-size: 22px;
  padding: 0px 40px;
}

#workspaces button:hover {
  box-shadow: none;
  padding: 0px 18px;
  margin: 0px 0px 0px 8px;
  text-shadow: none;
}
#workspaces button.active:hover {
  padding: 0px 40px;
}

.modules-right {
  margin: 0px 12px;
  margin-top: 8px;
}
#custom-power,
#cpu,
#network,
#clock,
#bluetooth,
#battery,
#wireplumber {
  margin: 0px;
  margin-left: 8px;
  border-radius: 12px;
  padding: 0px 12px;
  background-color: #151515;
  color: #b9b5be;
  border: 1px solid #b9b5be;
}
#clock {
  padding: 0px 50px;
}
#network {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 8px;
  margin: 0;
  border-left: 0px solid;
}
#bluetooth {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 8px;
  border-right: 0px solid;
}

.modules-center {
  margin-top: 8px;
}

